
<ul>
  <li><a routerLink="/register">Register</a></li>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/homeinvest">Home</a></li>
  <li><a routerLink="/dashboard">Dashboard</a></li>
  <li><a routerLink="/admin">Admin</a></li>
  <!--
  <li><a routerLink="/demo">Demo</a></li>
  <li><a routerLink="/product">Product</a></li>
  <li><a routerLink="/Acomp">A-Component</a></li>
  <li><a routerLink="/Bcomp">B-Component</a></li>
  <li><a routerLink="/detail">Details</a></li>
  <li><a routerLink="/exploreMutual">Explore</a></li>
  <li><a routerLink="/exploreStock">ExploreS</a></li> -->
   
</ul>

<router-outlet></router-outlet>

