<div class = "container">
  <h1>Welcome To Admin Page  </h1>
  <div>
    <h3>Manage Mutual</h3>
    <table class="table table-stripped">
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Return</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><input type="text" [(ngModel)]="mutualArray.name"  required/></td>
        <td><input type="text" [(ngModel)]="mutualArray.value" required/></td>
        <td><input type="text" [(ngModel)]="mutualArray.returns" required/></td>
        <td><input type="text" [(ngModel)]="mutualArray.description" required/></td>
        <td><input type="button" (click)="addMutualToHome()" value="Add" required/></td>
    </table>
  </div>
  <div>
    <h3>Manage Stock</h3>
    <table class="table table-stripped">
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>category</th>
        <th>capital</th>
      </tr>
      <tr>
        <td><input type="text" [(ngModel)]="stockArray.name" required/></td>
        <td><input type="text" [(ngModel)]="stockArray.value" required/></td>
        <td><input type="text" [(ngModel)]="stockArray.category" required/></td>
        <td><input type="text" [(ngModel)]="stockArray.capital" required/></td>
        <td><input type="button" (click)="addStockToHome()" value="Add" required/></td>
    </table>
  </div>
  
</div>
